# Exercise 6 - Data analysis with Pandas

In this week's exercise we will continue developing our skills using Pandas to analyze climate data.

After making your changes, you will need to upload your changes to GitHub.
The answers to the questions in this week's exercise should be given by modifying the document in the requested places.

If you are uncertain about **the style of your code**, take a look at the **[PEP 8 - Style guide for Python code](https://www.python.org/dev/peps/pep-0008/)**.  

 - **Exercise 6 is due by 16:00 on 17.10.**
 - Don't forget to check out the [hints for this week's exercise](https://geo-python.github.io/2018/lessons/L6/exercise-6.html) if you're having trouble.
 - Scores on this exercise are out of 20 points.
 - There are altogether 3 problems that you should solve. The fourth problem is optional (Problem 4) for more advanced students (does not affect grading)

## Data

For problems 1-3 in this exercise we will be using climate data from the Helsinki-Vantaa airport station.
For these problems, we have daily observations obtained from the [NOAA Global Historical Climatology Network](https://www.ncdc.noaa.gov/cdo-web/search?datasetid=GHCND).
The file was downloaded using the "Custom GHCN-Daily Text" output format, including following attributes:

| Attribute                | Description                      |
|--------------------------|----------------------------------|
| `STATION`                | Unique ID of the weather station |
| `ELEVATION`              | Elevation of the station         |
| `LATITUDE` , `LONGITUDE` | Coordinates of the station       |
| `DATE`                   | Date of the measurement          |
| `PRCP`                   | Precipitation                    |
| `TAVG`                   | Average temperature              |
| `TMAX`                   | Maximum temperature              |
| `TMIN`                   | Minimum temperature              |

The file for this problem is exactly as available from the NOAA website. You can take a [look of the data](data/1091402.txt).

**Note**: once again that temperatures in this dataset are given in degrees Fahrenheit.

Additional information about the data format can be found in the [hints for Exercise 6](https://geo-python.github.io/2018/lessons/L6/exercise-6-hints.html).

# Problem 1 - Reading in a tricky data file (5 points)

#### Overview

You first task for this exercise is to read in the data file (`data/1091402.txt`) to a variable called **`data`**.
This should be done using the `read_csv()` -function in Pandas, and the resulting DataFrame should have the following attributes:

  - The numerical values for rainfall and temperature read in as numbers
  - The second row of the datafile should be skipped, but the text labels for the columns should be from the first row
  - The no-data values (assigned with value **`-9999`**) should properly be converted to `NaN`
  
After successfully reading the data file, you should find answers programmably to specific questions below, and upload your notebook to **your own repository** for this week's exercise.

You can find hints about how to do these things in the [description of Exercise 5 Problem 1](https://github.com/Geo-Python-2018/Exercise-5/blob/master/Pandas/Exercise-5-problem1.ipynb) and the [hints for Exercise 6](https://geo-python.github.io/2018/lessons/L6/exercise-6.html).

1. Read the file into variable **data**
   - Skip the second row
   - Convert the no-data values into `NaN` (values -9999)

In [1]:
import pandas as pd
import numpy as np
fp = r"data/1091402.txt"
# Read data using varying amount of spaces as separator and specifying NaN characters as NoData values
data = pd.read_csv(fp, sep='\s+',skiprows=[1])
data = data.replace(-9999, np.nan)  # replace the '-9999' to NaN

In [40]:
# Test print that should work
print(data.head(5))

             STATION  ELEVATION  LATITUDE  LONGITUDE      DATE  PRCP  TAVG  \
0  GHCND:FIE00142080         51   60.3269    24.9603  19520101  0.31  37.0
1  GHCND:FIE00142080         51   60.3269    24.9603  19520102   NaN  35.0
2  GHCND:FIE00142080         51   60.3269    24.9603  19520103  0.14  33.0
3  GHCND:FIE00142080         51   60.3269    24.9603  19520104  0.05  29.0
4  GHCND:FIE00142080         51   60.3269    24.9603  19520105  0.06  27.0

   TMAX  TMIN
0  39.0  34.0
1  37.0  34.0
2  36.0   NaN
3  30.0  25.0
4  30.0  25.0

- How many no-data values (NaN) are there for **`TAVG`**?
  - Assign your answer into a variable called **`tavg_nodata_count`**

In [44]:
# How many no-data values?
tavg_nodata_count = data['TAVG'].isnull().sum()

In [45]:
# This test print should print a number
print(tavg_nodata_count)

3308

- How many no-data values (NaN) are there for `TMIN`?
  - Assign your answer into a variable called **`tmin_nodata_count`**

In [50]:
# How many no-data values?
tmin_nodata_count = data['TMIN'].isnull().sum()

In [51]:
# This test print should print a number
print(tmin_nodata_count)

0

- How many days total are covered by this data file?
  - Assign your answer into a variable called **`day_count`**

In [52]:
# How many days?
day_count = data['DATE'].nunique() # to find the unuique values in "DATE"

In [53]:
# This test print should print a number
print(day_count)

23716

- When was the first observation made (i.e. the oldest)?
  - Assign your answer into a variable called **`first_obs`**

In [55]:
# YOUR CODE HERE
first_obs = data['DATE'].min() # to find the minimum value in "DATE"

In [56]:
# This test print should print a number
print(first_obs)

19520101

- When was the last observation made (i.e. the most recent)?
  - Assign your answer into a variable called **`last_obs`**

In [57]:
# YOUR CODE HERE
last_obs = data['DATE'].max() # to find the maximum value in "DATE"

In [58]:
# This test print should print a number
print(last_obs)

20171004

- What was the average temperature of the whole data file (all years)?
  - Assign your answer into a variable called **`avg_temp`**

In [59]:
# to find the average temperature in "TAVG"
avg_temp = data['TAVG'].mean()

In [60]:
# This test print should print a number
print(avg_temp)

41.32408859270874

- What was the **`TMAX`** temperature of the ``Summer 69`` (i.e. including months May, June, July, August of the year 1969)?
  - Assign your answer into a variable called **`avg_temp_69`**

In [97]:
# first to find the range of May and August in 1969
data_may_to_aug = data.loc[ (data['DATE']>=19690501) & (data['DATE']<=19690831) ]
# find the "TMAX"
avg_temp_69 = data_may_to_aug['TMAX']

In [98]:
# This test print should print a number
print(avg_temp_69)

6054    41.0
6055    48.0
6056    44.0
6057    48.0
6058    55.0
6059    58.0
6060    61.0
6061    58.0
6062    70.0
6063    65.0
6064    59.0
6065    61.0
6066    59.0
6067    56.0
6068    49.0
6069    54.0
6070    58.0
6071    53.0
6072    55.0
6073    54.0
6074    46.0
6075    58.0
6076    56.0
6077    53.0
6078    62.0
6079    67.0
6080    67.0
6081    64.0
6082    72.0
6083    61.0
        ...
6147    75.0
6148    72.0
6149    74.0
6150    81.0
6151    82.0
6152    75.0
6153    67.0
6154    70.0
6155    76.0
6156    81.0
6157    80.0
6158    82.0
6159    77.0
6160    65.0
6161    66.0
6162    69.0
6163    73.0
6164    75.0
6165    73.0
6166    73.0
6167    66.0
6168    73.0
6169    68.0
6170    67.0
6171    61.0
6172    64.0
6173    66.0
6174    68.0
6175    64.0
6176    66.0
Name: TMAX, Length: 123, dtype: float64

# Problem 2 - Calculating monthly average temperatures (7.5 points)

For this problem your goal is to calculate monthly average temperature values in degrees Celsius from the daily values we have in the data file. You can use the approaches taught in Lessons 4,5 and 6 to solve this.
You can again consult the [hints for Exercise 6](https://geo-python.github.io/2018/lessons/L6/exercise-6-hints.html) if you are stuck.

**You can continue working with the same data that you used in Problem 1.**

#### For this problem you should modify:

1. Calculate the monthly average temperatures for the entire data (i.e. for each year separately) file using the approach taught in the lecture.
    - You should store the average temperatures into a new Pandas DataFrame called **`monthly_data`**.
2. Create a new column called **`temp_celsius`** into the **`monthly_data`** DataFrame that has the monthly temperatures in Celsius.   
   - Store also the information about the date into column **`DATE_m`** (which should be a string column with month and year info) and the **`TAVG`** values into the `monthly_data` DataFrame.
3. Update and commit your changes to the notebook in your **own repository** of this week's exercise.

In [5]:
# Convert to string
data['DATE_str'] = data['DATE'].astype(str)
# SLice the string
data['DATE_str'] = data['DATE_str'].str.slice(start=0, stop=6)
# Convert to int
data['DATE_str'] = data['DATE_str'].astype(int)
# Group the data
grouped = data.groupby('DATE_str')

# create a new Pandas DataFrame
monthly_data = pd.DataFrame()

In [41]:
monthly_data = pd.DataFrame()

# Iterate over the groups
for key, group in grouped:
    # Aggregate the data
    mean_values = group[['TAVG']].mean()

    # Add the ´key´ (i.e. the year+month information) into the aggregated values
    mean_values['DATE_m'] = key
    #mean_values['DATE_m'] = mean_values['DATE_m'].astype(int)

    # Append the aggregated values into the DataFrame
    monthly_data = monthly_data.append(mean_values, ignore_index=True)
monthly_data['DATE_m'] = monthly_data['DATE_m'].astype(int) ## Convert to string
monthly_data['DATE_m'] = monthly_data['DATE_m'].astype(str)

In [70]:
monthly_data['temp_celsius'] = (monthly_data['TAVG']-32)/1.8

In [71]:
print(monthly_data)

     DATE_m       TAVG  temp_celsius
0    195201  29.478261     -1.400966
1    195202  24.800000     -4.000000
2    195203  13.807692    -10.106838
3    195204  39.607143      4.226190
4    195205  44.666667      7.037037
5    195206  56.500000     13.611111
6    195207  61.214286     16.230159
7    195208  57.483871     14.157706
8    195209  47.230769      8.461538
9    195210  35.892857      2.162698
10   195211  27.714286     -2.380952
11   195212  26.760000     -2.911111
12   195301  22.285714     -5.396825
13   195302  16.407407     -8.662551
14   195303  31.130435     -0.483092
15   195304  39.962963      4.423868
16   195305  48.677419      9.265233
17   195306  62.666667     17.037037
18   195307  62.720000     17.066667
19   195308  59.206897     15.114943
20   195309  49.370370      9.650206
21   195310  45.000000      7.222222
22   195311  34.535714      1.408730
23   195312  29.677419     -1.290323
24   195401  19.269231     -7.072650
25   195402  11.250000    -11.527778
26   195403  29.714286     -1.269841
27   195404  34.541667      1.412037
28   195405  52.620690     11.455939
29   195406  57.038462     13.910256
..      ...        ...           ...
760  201505  49.258065      9.587814
761  201506  56.366667     13.537037
762  201507  60.935484     16.075269
763  201508  62.064516     16.702509
764  201509  54.566667     12.537037
765  201510  41.322581      5.179211
766  201511  40.266667      4.592593
767  201512  35.967742      2.204301
768  201601  13.580645    -10.232975
769  201602  31.206897     -0.440613
770  201603  32.129032      0.071685
771  201604  40.366667      4.648148
772  201605  56.935484     13.853047
773  201606  59.666667     15.370370
774  201607  63.354839     17.419355
775  201608  60.612903     15.896057
776  201609  54.400000     12.444444
777  201610  40.096774      4.498208
778  201611  31.034483     -0.536398
779  201612  30.580645     -0.788530
780  201701  26.800000     -2.888889
781  201702  26.250000     -3.194444
782  201703  33.258065      0.698925
783  201704  36.033333      2.240741
784  201705  49.032258      9.462366
785  201706  56.300000     13.500000
786  201707  60.290323     15.716846
787  201708  60.290323     15.716846
788  201709  52.333333     11.296296
789  201710  48.250000      9.027778

[790 rows x 3 columns]

# Problem 3 - Calculating temperature anomalies (7.5 points)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to the observation period between 1952-1980.

We will again continue working with this same notebook.

In order to complete the problem, you must do following things:

- You need to calculate a mean temperature ***for each month*** over the period 1952-1980 using the data in the data file.
 As a result, you should end up with 12 values, 1 mean temperature for each month in that period, and store them in a new Pandas DataFrame called **`reference_temps`**.  
   - The columns in the new DataFrame should be titled `Month` and `ref_temp`. 
   
For example, your `reference_temps` data should be something like that below, 1 value for each month of the year (12 total):
   
| Month    | ref_temp         |
|----------|------------------|
| 01       | -5.350916        |
| 02       | -5.941307        |
| 03       | -2.440364        |
| ...      | ...              |
   
*Remember, these temperatures should be in degrees Celsius.*

- Once you have the monthly mean values for each of the 12 months, you can then calculate a temperature anomaly for every month in the `monthly_data` DataFrame.
- The temperature anomaly we want to calculate is simply the temperature for one month in `monthly_data` (`temp_celsius` -column) minus the corresponding monthly reference temperature in `ref_temp` column of `reference_temps` DataFrame. 
    - Hint: You need to make a table join (see hints for this week)
- You should thus end up with three new columns in the `monthly_data` DataFrame: 

    1. **`Diff`**  showing the temperature anomaly, the difference in temperature for a given month (e.g., February 1960) compared to the average (e.g., for February 1952-1980), 
    2. **`Month`** indicating the month, and 
    3. **`ref_temp`** indicating the (monthly) reference temperature.
- Update and commit your changes to the notebook in your **own repository** of this week's exercise.

In [72]:
# change the type
monthly_data['DATE_m'] = monthly_data['DATE_m'].astype(int)
# find the range from 1952-1980
monthly_data_cut = monthly_data.loc[ (monthly_data['DATE_m']>=195201) & (monthly_data['DATE_m']<=198012) ]

In [79]:
# SLice the string
# change the type
monthly_data_cut['DATE_m'] = monthly_data_cut['DATE_m'].astype(str)
monthly_data_cut['Month'] = monthly_data_cut['DATE_m'].str.slice(start=4, stop=6)

In [74]:
monthly_data_cut.dtypes

DATE_m           object
TAVG            float64
temp_celsius    float64
Month            object
dtype: object

In [80]:
# Convert to int
monthly_data_cut['Month'] = monthly_data_cut['Month'].astype(int)

# Group the data
grouped = monthly_data_cut.groupby('Month')

In [90]:
# create a new dataframe
reference_temps = pd.DataFrame()
for key,group in grouped:
    
    mean_values = group[['temp_celsius']].mean()
    mean_values['Month'] = key
    reference_temps = reference_temps.append(mean_values, ignore_index=True)
# rename the column    
reference_temps.rename(columns = {'temp_celsius':'ref_temp'}, inplace = True)

In [93]:
#change the type
reference_temps['Month'] = reference_temps['Month'].astype(int)
reference_temps

    Month   ref_temp
0       1  -5.838761
1       2  -7.064088
2       3  -3.874213
3       4   2.370749
4       5   9.482356
5       6  14.661728
6       7  16.520986
7       8  15.045650
8       9   9.934222
9      10   4.952240
10     11   0.245195
11     12  -4.165641

In [106]:
#change type
monthly_data['DATE_m'] = monthly_data['DATE_m'].astype(str)
# create a new column named "Month" in monthly_data to store the month
monthly_data['Month'] = monthly_data['DATE_m'].str.slice(start=4, stop=6)
monthly_data['Month'] = monthly_data['Month'].astype(int)

In [107]:
monthly_data.head(6)

   DATE_m       TAVG  temp_celsius  Month
0  195201  29.478261     -1.400966      1
1  195202  24.800000     -4.000000      2
2  195203  13.807692    -10.106838      3
3  195204  39.607143      4.226190      4
4  195205  44.666667      7.037037      5
5  195206  56.500000     13.611111      6

In [110]:
# merge the monthly_data and the reference_temps
join = monthly_data.merge(reference_temps, on='Month', how='outer')

In [113]:
# add the "Diff" column
join['Diff'] = join['temp_celsius'] - join['ref_temp']

In [115]:
# sort the join by the value of DATE_m
monthly_data = join.sort_values('DATE_m')

     DATE_m       TAVG  temp_celsius  Month   ref_temp      Diff
0    195201  29.478261     -1.400966      1  -5.838761  4.437795
66   195202  24.800000     -4.000000      2  -7.064088  3.064088
132  195203  13.807692    -10.106838      3  -3.874213 -6.232625
198  195204  39.607143      4.226190      4   2.370749  1.855441
264  195205  44.666667      7.037037      5   9.482356 -2.445319
330  195206  56.500000     13.611111      6  14.661728 -1.050617
396  195207  61.214286     16.230159      7  16.520986 -0.290827
462  195208  57.483871     14.157706      8  15.045650 -0.887943
528  195209  47.230769      8.461538      9   9.934222 -1.472683
594  195210  35.892857      2.162698     10   4.952240 -2.789542
660  195211  27.714286     -2.380952     11   0.245195 -2.626148
725  195212  26.760000     -2.911111     12  -4.165641  1.254530
1    195301  22.285714     -5.396825      1  -5.838761  0.441936
67   195302  16.407407     -8.662551      2  -7.064088 -1.598464
133  195303  31.130435     -0.483092      3  -3.874213  3.391121
199  195304  39.962963      4.423868      4   2.370749  2.053119
265  195305  48.677419      9.265233      5   9.482356 -0.217123
331  195306  62.666667     17.037037      6  14.661728  2.375309
397  195307  62.720000     17.066667      7  16.520986  0.545681
463  195308  59.206897     15.114943      8  15.045650  0.069293
529  195309  49.370370      9.650206      9   9.934222 -0.284016
595  195310  45.000000      7.222222     10   4.952240  2.269982
661  195311  34.535714      1.408730     11   0.245195  1.163535
726  195312  29.677419     -1.290323     12  -4.165641  2.875319
2    195401  19.269231     -7.072650      1  -5.838761 -1.233888
68   195402  11.250000    -11.527778      2  -7.064088 -4.463690
134  195403  29.714286     -1.269841      3  -3.874213  2.604372
200  195404  34.541667      1.412037      4   2.370749 -0.958712
266  195405  52.620690     11.455939      5   9.482356  1.973583
332  195406  57.038462     13.910256      6  14.661728 -0.751472
..      ...        ...           ...    ...        ...       ...
327  201505  49.258065      9.587814      5   9.482356  0.105458
393  201506  56.366667     13.537037      6  14.661728 -1.124691
459  201507  60.935484     16.075269      7  16.520986 -0.445717
525  201508  62.064516     16.702509      8  15.045650  1.656859
591  201509  54.566667     12.537037      9   9.934222  2.602815
657  201510  41.322581      5.179211     10   4.952240  0.226971
723  201511  40.266667      4.592593     11   0.245195  4.347397
788  201512  35.967742      2.204301     12  -4.165641  6.369942
64   201601  13.580645    -10.232975      1  -5.838761 -4.394214
130  201602  31.206897     -0.440613      2  -7.064088  6.623475
196  201603  32.129032      0.071685      3  -3.874213  3.945898
262  201604  40.366667      4.648148      4   2.370749  2.277399
328  201605  56.935484     13.853047      5   9.482356  4.370691
394  201606  59.666667     15.370370      6  14.661728  0.708642
460  201607  63.354839     17.419355      7  16.520986  0.898369
526  201608  60.612903     15.896057      8  15.045650  0.850408
592  201609  54.400000     12.444444      9   9.934222  2.510223
658  201610  40.096774      4.498208     10   4.952240 -0.454032
724  201611  31.034483     -0.536398     11   0.245195 -0.781594
789  201612  30.580645     -0.788530     12  -4.165641  3.377111
65   201701  26.800000     -2.888889      1  -5.838761  2.949872
131  201702  26.250000     -3.194444      2  -7.064088  3.869643
197  201703  33.258065      0.698925      3  -3.874213  4.573138
263  201704  36.033333      2.240741      4   2.370749 -0.130008
329  201705  49.032258      9.462366      5   9.482356 -0.019990
395  201706  56.300000     13.500000      6  14.661728 -1.161728
461  201707  60.290323     15.716846      7  16.520986 -0.804140
527  201708  60.290323     15.716846      8  15.045650  0.671196
593  201709  52.333333     11.296296      9   9.934222  1.362075
659  201710  48.250000      9.027778     10   4.952240  4.075537

[790 rows x 6 columns]

- What is the highest value in `Diff` column?
   - Print the answer in the cell below

In [116]:
print("The the highest value in Diff column is: ", join['Diff'].max())

The the highest value in Diff column is:  8.234722855723811

#### Done!

That's it. Now you are ready with Problems 1-3. If you want, you can still continue with an optional [Problem 4.](Exercise-6-problem-4.ipynb)